.historical-transactions {
  display: flex;
  flex-direction: column;
}

.historical-transactions .transactions {
  padding: 2rem;
}

.indicator {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 0.3rem;

  border-radius: 0.5rem;
  border: none;
}
